*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(download.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    padding-left: 150px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}
.cards {
    position: relative;
    display: flex;
    justify-content: center;
    top: 150px;
    right: 31%; 
    gap: 10px;
    
}
.card_image{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border: 2px solid #ffffff;
    border-radius: 10px;
}
.cards__inner{
    display: flex;
    flex-wrap:wrap;
    gap: 2.5em;
}
.overlay .cta {
    display: block;
    grid-row:-1,
    width:100%;
    backgroung-color:hsl(ver(--hsl));
    box-shadow:0 0 0 1px hsl(ver(--hsl));
}
.card{
--flow-space:0.5em;
--hs1:var(--hue),
ver(--saturation),
var(--lightness);
flex: 1 1 14rem;
padding:1.5emn 2em;
gap:1.25em; display:grid;
grid-template-rows:
auto auto auto 1fr;
align-items:start; calor: #eceff1;
background-color:transparent;
border:1px solid #fff;
border-radius:15px;
}
.card:nth-child(1){
    --hue:165;
    --saturation:82.26%;
    --lightness:52.37%;
}

.card:nth-child(2){
    --hue:291.34;
    --saturation:95.9%;
    --lightness:61.76%;
}
.heading{
    text-align: center;
    font-size: 26px;
    background-color: rgb(10, 10, 154);
    padding: 10px 0;
    font-weight: bold;
    color: #eceff1;
}
.image_text{
    display: flex;
}

.about_us_text{
    width: 504px;
}

.about_us_img{
    width: 548px;
    height:336px ;
    object-fit: cover;
    padding-left: 230px;
}
.about_heading{
    font-size: 54px;
    font-weight: 600;
}

.about_desciption{
    font-size: 20px;
    
}
.heading_w{
    text-align: center;
    font-size: 26px;
    background-color: rgb(10, 10, 154);
    padding: 10px 0;
    font-weight: bold;
    color: #eceff1;
}
.image{
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
    width: 50%;
    font-size: 20px;

}
.heading_Q{
    text-align: center;
    font-size: 26px;
    background-color: rgb(10, 10, 154);
    padding: 10px 0;
    font-weight: bold;
    color: #eceff1;
}
.contact_us_img{
   width: 250px;
    height:206px ;
    object-fit: cover;
    padding-left: 72px;
    display: flex;
   
}
.heading_X{
    text-align: center;
    font-size: 26px;
    background-color: rgb(10, 10, 13);
    padding: 10px 0;
    font-weight: bold;
    color: #eceff1;
}